
/*  estilos generales  --- HOME ---*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #222;
    color: white;
}
/* estilos generales de la seccion Hero  --- HOME ---*/
.Hero{
    
    background-image: linear-gradient(180deg,rgba(0,0,0,0.57), #222 ) , url(fondo.jpg);
    background-size: cover;
    background-position: 38% 50%;
    width: auto;
    height: 100vh;
    min-height: 540px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;

}

/* estilos de nav   --- HOME ---*/

nav{
    padding-top: 28px;
    position: static;

}
.content_nav{
    margin-left: 82px;
    margin-right: 82px;
    position: static;

}

.content_nav > input{
    display: none;
}
.checkbtn{
    display: none;
}
.checkbtn > img{
    width: 30px;
    float: right;
    
 
}


.logo{
    position: relative;
    padding: 10px;
    float: left;
    
    border-radius: 100%;
    opacity: 0.9;
    
}
.logo_img{
    width: 50px;
    height: 50px;
    opacity: 80%;
    
}
.nav_menu{
    position: relative;
    float: right;
    margin-top: 30px;
}

.activo{
    padding: 20px;
    color:#00d6b4;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

.item_nav{
    padding: 20px;
    color: #999;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

.item_nav:hover{
    color:#c2c2c2;

}

.button_menu{
    display: none;
}

/*  estilos de los titulos  --- HOME ---*/

.titles, .titles_contact{
    margin: 35vh auto 0 auto;
    padding: 0% 15% 0% 15% ;
}
h1{
    margin-bottom: 27px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    
}
.sub{
    font-size: 26px;
}

/* estilos de la seccion de proyectos   --- HOME ---*/

.section_content{
    padding: 50px 0 50px 0px;
}


.content_proyect{
    margin-left: auto;
    margin-right: auto;
}

h3{
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 32px ;
}


.content_list_wrapper{
    display: grid;
}

.content_list{
    margin: 0 10% 0 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.content_item{
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    float: left;
    margin-bottom: 10px;
}
.link_proyect{
    text-decoration: none;
    background-color: #333;
    border: none;
}
.img_proyect{
    max-width: 100%;
    border-radius: 5px 5px 0 0;
    width: auto;
    height: auto;
    
}
.content_item_descript{
    background-color: #333;
    padding: 10px 0;
    border-radius:0 0  5px 5px;

}
.content_item_descript > h1{
    color: white;
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: start;
    margin-left: 10px;
}
.content_item_descript > span {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px ;
}

.content_item_descript > span > p{
    margin: 0;
    margin-right: 10px;
    background-color: #444;
    padding: 2px 6px;
    color: #00d6b4;
    font-size: small;
}

.img_proyect:hover{
    opacity: 0.7;
    transition: all .3s;
}

/* estilos de la seccion de contenido   --- ABOUT ---*/


.content_about{
    margin-left: auto;
    margin-right: auto;
}
.content_img_perfil{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 31px;
    width: 200px;

}
.img_perfil{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.content_p{
    width: 70%;
    margin: 40px auto 10px auto;

}
.content_p > p {
    text-align: justify;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    
}
.content_icon{
    width: 70%;
    margin: 0 auto 0 auto;
}
.list_icon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px;
}

.icon{
    width: 70px;
    margin: 0 40px 0 40px;
    

}
.fondo_icon{
    background-color: white;
    width: 70px;
    margin: 0 40px 0 40px;
    border-radius: 100%;
}

/*  Estilos de iconos de redes  --- CONTACT --- */

.content_icon_social{
    margin-top: 60px ;
    text-align: center;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link_social{
    background-color: #333;
    padding: 10px;
    margin: 0 10px 0 10px;
    
    border-radius: 100%;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
}
.icon_social{
    width: 30px;
    height: auto;
    max-width: 100%;
}
.link_social:hover{
    background-color: #444;
}

/* estilos del formulario  --- CONTACT ---*/
form{
    margin: 0 auto 15px auto;
    width: 60%;
}

.label_text{
    margin-bottom: 5px;
    font-family:'Lato', sans-serif ;
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: start;
    max-width: 100%;
}
.input_text{
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    min-height: 40px;
    background-color: #4b4b4b;
    outline: none;
    color: white;
    border-radius: 3px;
    border: none;
    font-family: 'Open Sans', sans-serif ;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.button_env{
    display: block;
    margin: 20px auto 0 auto;
    padding: 15px 50px 15px 50px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    border: solid 1px #00d6b4;
    color: #00d6b4;
    font-family: 'Lato', sans-serif ;
    font-size: 13px;
    cursor: pointer;
}
.button_env:hover{
    border-color: white;
    color: white;
}

/* estilos de mensajes de formulario  --- CONTACT ---*/

.content_message_env{
    padding: 15px;
    background-color: #4c9286;
    display: none;
}
.content_message_error{
    padding: 15px;
    background-color: rgb(156, 56, 56);
    display: none;   
}

.content_message_env > p,.content_message_error > p {
    margin: 0;
    color: white;
}

/*  Estilos del footer --- HOME --- */
footer{
    margin-top: 30px;
    padding: 36px 0 36px 0;
}
p{
    margin-bottom: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    color: #c2c2c2;
}
.copy{
    font-size: 12px;
    margin-bottom: 0;
}

